.search-list {
    width: 100%;
}

.list-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 10px;
}

.item-title,
.item-description {
    font-size: 16px;
    padding: 5px 0;
}