.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

}

.header {
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 50px;
}

.content {
    padding: 0;
    margin: 0;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;

}

.footer {
    background-color: gray;
    height: 5%;
    display: flex;
    justify-content: space-around; /* Space out buttons */
    align-items: center;
}

.text1{
    text-color: black;
    margin-left: auto;
}

.text2{
    text-color: black;
    margin-right: auto;

}
.text3{
    text-color: black;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 30px;
    font-style: italic;
    color: gray; /* Example subtitle color */
    margin-top: 20px;
}

.button {
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 80px;
    background-color: #DCDCDC;
    border-radius: 40px;
}

.btn-image {
    width: 50px;
    height: 50px;
}
.btn-text
{
    margin-left: 20px;
}